@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 375px;
    height: 812px;
    font-family: "Inter", sans-serif;
}

main {
    background-color: #1E1E1E;
    height: 639px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 173px;
    background-color: black;
}

.logo {
    display: flex;
    width: 111px;
    height: 32px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper.column {
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 54px;
    margin-top: -30px;
}

.input>input {
    width: 271px;
    height: 54px;
    padding: 15px;
    font-size: 16px;
    color: #F2F2F2;
    background-color: #262626;
    border-radius: 6px;
    border: 0.5px solid #000;
}

.input>input:focus-visible {
    border: 1px solid #8284FA;
    outline: none;
}

.input>button {
    width: 52px;
    height: 52px;
    background-color: #1E6F9F;
    border-radius: 6px;
    border: none;
}

.input>button:active {
    opacity: .9;
}

.status-tarefas {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tarefas-criadas {
    color: #4EA8DE;
    font-size: 14px;
    font-weight: bold;
}

.tarefas-concluidas {
    color: #8284FA;
    font-size: 14px;
    font-weight: bold;
}

.contador {
    display: inline-block;
    margin-left: 5px;
    background-color: #333333;
    color: #D9D9D9;
    width: 25px;
    height: 19px;
    text-align: center;
    border-radius: 999px;
    font-size: 12px;
    padding-top: 2px;
    font-weight: bold;
}

.separator {
    background-color: #333333;
    height: 1px;
    width: 327px;
    margin-top: 20px;
}

.lista-vazia {
    margin-top: 48px;
    margin-bottom: 20px;
}

p {
    color: #808080;
}

.tarefa {
    display: flex;
    width: 327px;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
}

.tarefa.pendente {
    box-shadow: 0px 0px 1px 0.1px #808080 inset;
}

.tarefa-botao {
    border: none;
}

.tarefa-descricao {
    word-break: break-word;
    padding: 5px;
    color: #D9D9D9;
}

.tarefa-descricao.done {
    text-decoration: line-through #808080;
    color: #808080;
}